.checkoutProduct {
  display: flex;
  margin: 20px 0;
}

.checkoutProduct > img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__rating {
  display: flex;
}
