.product {
  margin: 10px;
  padding: 10px;
  min-height: 460px;
  min-width: 100px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  min-height: 163px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_desc {
  min-height: 160px;
}
